
<!-- Phần giới thiệu -->
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-self-center">
        <h2>Chào mừng đến với Website bán hàng</h2>
        <p class="lead">
          Chúng tôi cung cấp đa dạng sản phẩm với chất lượng cao và giá cả hợp
          lý. Tại đây, bạn có thể tìm thấy mọi thứ từ quần áo, giày dép, đồ gia
          dụng đến các sản phẩm công nghệ mới nhất.
        </p>
        <p>
          Chúng tôi luôn cập nhật sản phẩm mới nhất và đảm bảo rằng sản phẩm của
          bạn sẽ được vận chuyển đến tay bạn một cách nhanh chóng và an toàn.
        </p>
      </div>
      <div class="col-md-6">
        <img
          src="https://via.placeholder.com/500x500"
          alt="Sản phẩm"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</section>

<!-- Các thông tin liên hệ -->
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Thông tin liên hệ</h3>
        <p class="lead mb-0">Địa chỉ:</p>
        <p class="mb-4">
          233 Trần Phú, Phường Phước Vĩnh, Thành phố Huế, Thừa Thiên-Huế
        </p>
        <p class="lead mb-0">Số điện thoại:</p>
        <p class="mb-4">(+84) 397064432</p>
        <p class="lead mb-0">Email:</p>
        <p>tviethoang29@gmail.com</p>
      </div>
      <div class="col-md-8">
        <h3>Gửi thông tin liên hệ</h3>
        <form>
          <div class="form-group">

            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="Nhập họ tên của bạn"
            />
          </div>
          <div class="form-group">

            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Nhập email của bạn"
            />
          </div>
          <div class="form-group">

            <input
              type="number"
              class="form-control"
              id="phone"
              placeholder="Nhập số điện thoại của bạn"
            />
          </div>
          <div class="form-group">
            <label for="">Ý kiến phản phồi của bạn:</label>
            <textarea name="comment" id="comment" cols="30" rows="5" type="number"
            class="form-control"></textarea>
          </div>
        </form>
        <button type="submit" class="col-md-3 btn btn-primary btn-block">Gửi</button>
      </div>
    </div>
  </div>
</section>
