<div class="container mt-5">
  <h1 class="text-center mb-4">Giới thiệu sản phẩm</h1>
  <div class="row">
    <div class="col-md-6">
      <img
        src="https://via.placeholder.com/500x350?text=Product+Image"
        class="img-fluid"
        alt="Product Image"
      />
    </div>
    <div class="col-md-6">
      <h2>Tên sản phẩm</h2>
      <p>Mô tả sản phẩm</p>
      <p>Giá sản phẩm: $100</p>
      <p>Sản phẩm có sẵn tại các cửa hàng của chúng tôi trên toàn quốc.</p>
      <p>Liên hệ với chúng tôi đểbiết thêm chi tiết hoặc đặt hàng.</p>
      <div class="mt-4">
        <h4>Chia sẻ sản phẩm</h4>
        <a href="#" class="btn btn-outline-primary mr-2"
          ><i class="fab fa-facebook-f"></i> Facebook</a
        >
        <a href="#" class="btn btn-outline-info mr-2"
          ><i class="fab fa-twitter"></i> Twitter</a
        >
        <a href="#" class="btn btn-outline-danger"
          ><i class="fas fa-envelope"></i> Email</a
        >
      </div>
    </div>
  </div>
</div>

<!-- Thêm thư viện Bootstrap JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
